.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 6rem; */
    min-height: 100vh;
    background-color: #f7f7f7;
    padding-bottom: 80px;
}

.calendar_panel {
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    /* height: 220px; */
}

.calendar_cont {
    width: 100%;
    display: flex;
    margin-top: 5px;
    /* background-color: red; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.calendar_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 62px;
    border-radius: 16px;
    cursor: pointer;
}

.calendar_item_sel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 62px;
    border-radius: 16px;
    background-color: #FF2882;
    color: white;
    cursor: pointer;
}

.date_cont {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Roboto';
    color: var(--title-color);
}

.calendar_item_day {
    font-size: 12px;
    /* font-weight: bold; */
    color: #AEAEB2;
}

.calendar_item_day_sel {
    font-size: 12px;
    /* font-weight: bold; */
    color: #F9F7F7;
    font-family: 'Open Sans';
}

.calendar_item_date {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans';
    color: var(--title-color);
}

.league_cont {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.matches_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    padding-top: 15px;
}

.league_icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.league_name_cont {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.league_name {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans';
    color: var(--title-color);
}

.league_week {
    font-weight: bold;
    font-size: 10px;
    color: #AEAEB2;
    font-family: 'Open Sans';
}

.no_matches {
    font-size: 14px;
    text-align: center;
    /* margin-top: 20px; */
    color: #8E8E93;
    font-weight: bold;
}

.cal_icon {
    width: 24px;
    margin-right: 5px;
    height: 24px;
    margin-left: 10px;
}

.live_title {
    /* width: 100%; */
    text-align: start;
    /* margin-top: 15px; */
    padding-left: 10px;
    color: var(--title-color);
}


.desktop_panels_cont {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

.desktop_right_cont_login {
    width: 360px;
    /* height: 500px; */
    border-radius: 16px;
    background-color: white;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 20px;
}

.desktop_right_cont_live {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.live_title_cont {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
    user-select: none;
}

.upcoming_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF4747;
    border-radius: 20px;
}

.upcoming_inner {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #FF4747;
}

.live_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00C566;
    border-radius: 20px;
}

.live_inner {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #00C566;
}