.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 6rem; */
    min-height: 100vh;
    background-color: white;
    padding-bottom: 50px;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #8E8E93;
}

.ava_panel {
    width: 100px;
    height: 100px;
    position: relative;
}

.ava_cont {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #EAEDF1;
    position: relative;
}

.mini_button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    border-radius: 15px;
    color: white;
    background-color: #FF2882;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ava {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mini_button:active {
    opacity: .8;
}

.ava_blank {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
}

.padding {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid black;
    /* background-color: red; */
}

.input_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.email {
    margin-top: 15px;
    font-size: 14px;
    color: #8E8E93;
    font-weight: bold;
    margin-bottom: 40px;
}

.text_button {
    color: #FF2882;
    border: none;
    background-color: transparent;
    display: flex;
    font-weight: bold;
    margin-top: 12px;
    font-size: 16px;
}

.text_button:active {
    opacity: .8;
}

.edit_icon {
    width: 16px;
    height: 16px;
}
.save {
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    height: 24px;
    padding-left: 12px;
    color: white;
    font-weight: bold;
    padding-right: 12px;
    border-radius: 12px;
    background-color: #FF2882;
}

.save:active {
    opacity: .8;
}