.cont {
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--panel-color);
    width: 100%;
    /* margin-bottom: 20px; */
    border-radius: 12px;
}

.cont_mobile {
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    background-color:var(--panel-color);
    width: 100%;
}

.balance_cont {
    height: 16px;
}

.panel {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    user-select: none;
}

.panel_desktop {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 10px;
    border-radius: 12px;
    background-color: var(--panel-color);
    align-items: center;
}

.ava_cont {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid var(--border-color);
    margin-right: 10px;
    overflow: hidden;
}

.ava {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.ava_blank {
    width: 60px;
    height: 60px;
    align-self: center;
    display: flex;
    margin-top: 10px;
    justify-self: center;
    object-fit: cover;
}


.name_cont {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: var(--title-color);
}

.desc {
    font-size: 12px;
    margin-top: 2px;
    font-weight: bold;
    color: #8E8E93;
}

.balance_red {
    font-size: 12px;
    margin-top: 2px;
    font-weight: bold;
    color: #FF4747;
}

.balance_green {
    font-size: 12px;
    margin-top: 2px;
    font-weight: bold;
    color: #00C566;
}

.settings {
    width: 50px;
    /* background-color: red; */
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* padding-right: 20px; */
    align-items: center;
    font-weight: bold;
    font-family: 'Roboto';
    color: #8E8E93;
}

.settings_icon {
    width: 22px;
    margin-right: 4px;
    height: 22px;
    color: #8E8E93;
}

.settings:active {
    opacity: .8;
}